<html>

<head>
   <title>LHD 2018</title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

   <!-- Add references to the Azure Maps Map control JavaScript and CSS files. -->
   <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/css/atlas.min.css?api-version=1" type="text/css" />
   <script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1"></script>

   <link rel="stylesheet" href="/css/style.css" type="text/css">

   <!-- Add a reference to the Azure Maps Services Module JavaScript file. -->
   <script src="https://atlas.microsoft.com/sdk/js/atlas-service.js?api-version=1"></script>

   <script src="/js/script.js" type="text/javascript"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
